body
{
  background-color : grey;
  font-size : san-seriff;
}
li
{
  display : inline;
  padding-right : 20px;
}
ul a {
  text-decoration : none;
  color : Yellow;
}
ul a :rover {
  text-decoration : underline;
  color : black;
}
#header {
  background-colour : #5c755e;
  margin : 100px;
  height :90px;
}
