body
{
  background-color : grey;
  font-size : san-seriff;
}
li
{
  display : inline;
  padding-right : 20px;
}
ul a {
  text-decoration : none;
  color : Yellow;
}
ul a :hover {
  text-decoration : underline;
  color : black;
}
