body
{
  background-color : grey;
  font-size : san-seriff;
}

#header {
  background-colour : #5c755e;;
  margin : 10px;
  height :90px;
}
#navbar {
  background-colour : #5c755e;
  margin : 10px;
  height :90px;
}
